{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changePassword" method="post">
        <div class="mb-5">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new-password" name="new-password" placeholder="New password" type="password">
            <input autocomplete="off" autofocus class="mt-3 form-control mx-auto w-auto" id="confirm-new-password" name="confirm-new-password" placeholder="New password" type="password">
            <button class="mt-3 btn btn-primary" type="submit">Change Password</button>
        </div>
    </form>
{% endblock %}