{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1 class="text-center">Your Stocks</h1>
    <h2>Cash: {{ cash }}</h2>

    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Stock Symbol</th>
            <th scope="col">Your Shares</th>
            <th scope="col">Current Price</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for stock in stocks %}
          <tr>
            <th scope="row">{{ stock["id"] }}</th>
            <td>{{ stock["stock"] }}</td>
            <td>{{ stock["share"] }}</td>
            <td>{{ stock["current_price"] }}</td>
            <td>{{ stock["total_price"] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h4>Grand Total: {{ total_price }}</h2>
{% endblock %}